@import '../mixins.scss';

.container {
  @include mb(30);

  .feed {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 0 auto;
    padding: 20px 24px;
    box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);

    .feedInfo {
      display: flex;
      @include mb(15);

      .username {
        display: inline-block;
        @include textColor($darkgray);
      }

      .date {
        @include textColor($info);
        @include fontSm;
      }
    }

    .title {
      @include fontLg;
      @include mb(10);
    }

    .text {
      @include textColor($darkgray);
      @include mb(15);
      line-height: 1.4;
    }

    .imgWrapper {
      .img {
        width: 100%;
      }
    }

    .box {
      @include mt(10);
      span {
        @include textColor($info);
        @include fontSm;
      }
    }
  }
}

@media (min-width: 1025px) {
  .feed {
    max-width: 925px;
  }
}
