@import '../mixins.scss';

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .navMenu {
    padding: 10px;
    .btn {
      @include btn($black);
      @include fontMd;
    }
  }
}

.menuWrapper {
  @include menuWrapper;
  .menu {
    @include menu;
    top: 5px;

    a {
      display: block;
      padding: 9px 18px;
      @include fontSm;
      &:hover {
        background-color: #eee;
      }
    }

    .btn {
      @include hoverBgBtn($lightgray);
      @include fontSm;
      padding: 9px 18px;
    }
  }
}

@media (min-width: 1025px) {
  .nav {
    max-width: 625px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 20px 0;
  }
}
