@import './mixins.scss';

.feedContainer {
  .feedTop {
    display: flex;
    @include mb(10);

    .btn {
      @include btn($black);
      @include fontXxl;
    }

    .feedInfo {
      display: flex;
      padding-top: 8px;
      margin-left: 10px;
      flex-grow: 1;

      .username {
        @include textColor($darkgray);
      }

      .date {
        @include fontSm;
        @include textColor($info);
      }
    }

    .dotBtn {
      @include btn($black);
      @include fontLg;
    }

    .menuWrapper {
      @include menuWrapper;
      .menu {
        @include menu;
        top: 25px;

        a {
          display: block;
          padding: 9px 18px;
          @include fontSm;
          &:hover {
            background-color: #eee;
          }
        }

        .delBtn {
          @include hoverBgBtn($lightgray);
          @include fontSm;
          padding: 9px 18px;
        }
      }
    }
  }

  .title {
    @include fontLg;
    @include mb(10);
  }

  .text {
    @include textColor($darkgray);
    @include mb(15);
  }

  .img {
    width: 100%;
  }

  .box {
    margin: 10px 0;

    .span {
      @include fontSm;
      @include textColor($info);
    }
  }

  .icon {
    @include btn($purple);
    @include fontXl;
    @include mr(5);
  }
}
