@import './mixins.scss';

.div {
  max-width: 340px;
  margin: 0 auto;

  .title {
    @include title;
    margin: 0 auto;
    @include mb(40);
    text-align: center;
  }

  .textLg {
    @include fontLg;
    @include mb(20);
  }

  .textSm {
    @include fontSm;
    @include mb(30);
    @include textColor($info);
    line-height: 1.3;
  }

  .div {
    display: flex;
    flex-direction: column;

    .label {
      display: block;
      @include mb(5);
      @include fontSm;
      @include bold;
    }

    .input {
      @include inputBorder;
    }
  }

  .errorMsg {
    @include errorMsg($red);
    @include fontSm;
    @include mt(5);
  }

  .btn {
    display: flex;
    margin: 0 auto;
    @include mt(20);
    @include bgBtn($lightgray);
  }
}
