@import './mixins.scss';

.div {
  max-width: 340px;
  margin: 0 auto;

  .title {
    @include title;
    text-align: center;
    @include mb(30);
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    .label {
      display: block;
      @include mb(5);
      @include textColor($darkgray);
      @include fontSm;
      @include bold;
    }

    .input {
      @include inputBorder;
      @include mb(20);
    }
  }

  .btn {
    display: flex;
    margin: 0 auto;
    @include mt(10);
    @include bgBtn($lightgray);
  }
}
