@import './mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  margin: 0 auto;

  .title {
    @include title;
    margin: 0 auto;
    @include mb(30);
  }

  .div {
    display: flex;
    flex-direction: column;
    @include mb(15);

    .label {
      display: block;
      @include mb(5);
      @include textColor($darkgray);
      @include fontSm;
      @include bold;
    }

    .input {
      @include inputBorder;
    }
  }

  .errorMsg {
    @include errorMsg($red);
    @include fontSm;
    @include mt(5);
  }

  .btn {
    display: flex;
    margin: 0 auto;
    @include mt(10);
    @include bgBtn($lightgray);
  }
}
